services:
  postgres:
    image: postgres:15
    container_name: checkout-postgres
    environment:
      POSTGRES_DB: checkout_db
      POSTGRES_USER: checkout
      POSTGRES_PASSWORD: checkout123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U checkout"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: checkout-backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://3.145.92.222:3000
    container_name: checkout-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres_data:
